* {
  padding: 0;
  margin: 0;
}

body {
  font-family:  roboto;
  background-color: #E9EBF4;
}

/* Intro CSS */
.intro-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 100px;

  /* background-color: red; */
}

.left-intro {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 60%;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  /* background-color:aqua */
}
.left-intro h1 {
  font-size: 30px;
}
.left-intro h1 span {
  color: #8E51FF;
}
.left-intro p {
  font-size: 25px;
  width: 400px;
}
.left-intro p span {
  color: #8E51FF;
  font-weight: bold;
}

.social-icons {
  display: flex;
  gap: 20px;
}
.fa-square-linkedin {
  color: #065fb5;
}
.fa-square-github {
  color: black;
}
.fa-instagram {
  color: #ff00b3;
}

.right-intro {
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.right-intro img {
  width: 300px;
  height: 300px;
  margin-right: 200px;
  margin-top: 10px;
  border-radius: 5%;
  transition: 0.3s;
  box-shadow: 2px 3px 18px 2px #8E51FF;
}
.right-intro img:hover {
  transition: 0.3s;
  box-shadow: 2px 3px 99px -2px #8E51FF;

  cursor: pointer;
}


.heading {
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
  border-bottom: 5px solid #8E51FF;
  margin-left: 500px;
  margin-right: 500px;
  padding-bottom: 40px;

  display: flex;
  justify-content: center;
}

/* Skills CSS */
.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 100px;
  padding: 40px;
  border-radius: 20px;

  background-color: #E9EBF4;
  box-shadow: 0px 4px 11px -2px #8E51FF;
  transition: 0.3s;
}
.skills-container:hover {
  transition: 0.3s;
  box-shadow: 0px 4px 69px -2px #8E51FF;
  cursor: pointer;
}
.skills-container h1 {
  padding: 10px 30px;
  margin: 5px 15px;
  background-color: #8E51FF;
  color: white;
  border-radius: 30px;

  transition: 0.3s;
}
.skills-container h1:hover {
  padding: 15px 45px;
  margin: 0px 0px;
  transition: 0.3s;
  background-color: #7F22FE;
}

/* Education CSS */
.education-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-top: 50px;

  /* background-color: rgb(105, 105, 105); */
}

.each-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  width: 400px;
  text-align: center;
  padding: 20px;
  /* border: solid #8E51FF 1px; */
  border-radius: 20px;
  margin-top: 20px;
  transition: 0.3s;

  box-shadow: 1px 1px 20px -2px #8E51FF;
  
  /* background-color: #E9EBF4; */
  background: linear-gradient(330deg, #E9EBF4 10%, #8e51ff8c );
}
.each-container:hover {
  transition: 0.3s;
  box-shadow: 1px 1px 20px -2px #8E51FF;
  cursor: pointer;
}
.each-container img {
  width: 400px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 2px 3px 11px -2px #8E51FF;
}
.each-container p{
  font-size: 20px;
  color: #52525C;
}


/* Footer CSS */
.footer-container {
  background-color: #4D179A;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.footer-container h1 {
  font-size: 20px;
}

/* All Animations */
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
